<main>
    <div class="container">
        <h1>Add a review</h1>
        <form method="POST" action='/student/reviews' id="review-form">
        <div class="form">
            <label for='Ratings'>
                Ratings:
                <input id="Ratings" type="number" name='Ratings' class="form-ratings" placeholder="Ratings from 1-5">
            </label>
        </div>
        <div class="form">
            <label for="review">
                Review:
                <textarea id="review" name="review" cols="50" rows="10" placeholder="Add a review"></textarea>
            </label>
        </div>
        <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</main>




<div id="Output">
    {{#each reviews}}
    <h3>{{this.studentusername}}</h3>
    <p>{{this.ratings}}</p>
    <p>{{this.reviewss}}</p>
    {{/each}}
</div>

{{!-- <script src="/public/js/form.js"></script> --}}